/* suggestions.css */

.slider-container {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    padding: 20px;
    flex-direction: row;
    scroll-behavior: smooth; /* Add smooth scrolling */
    overflow-x: scroll;
    scrollbar-width: 0px;
    scrollbar-color: red;
  }
  
  .slide {
    margin-right: 20px; 
    margin-top: 20px;
  }
  
  .sugg-img {
    height: 200px;
    width: 200px;
    padding: 1px; 
    margin-inline: 10px;
    box-shadow: 1px 3px  10px 1px rgba(255, 132, 0, 0.662);
  }
  
  .sugg-name {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    text-decoration: none; 
    color: rgb(2, 2, 2);
    text-shadow: 1px 1px;
    flex-wrap: wrap;
    flex: 1;
  }
  
  .slider-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
    padding: 5px;
  }
  .slider-button:hover{
    transition: .2s ease-in-out;
    font-size: 30px;
    padding: 3px;
  }